.mat-list-item {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  text-decoration: none;

  span {
    font-size: 14px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.04);
    cursor: pointer;
  }

  .mat-icon {
    margin-right: 10px;
  }
}

.mat-divider {
  margin: 5px 0 !important;
}
